@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;600&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
font-family: 'Quicksand', sans-serif;
color: gray;
}

.container-grid{
    width: 90%;
    margin: 0 auto;
    background-color: purple;
}

header {
    background-color: gray;
}

header .header-flex{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: ;
}

header nav {
    border: 2px solid turquoise;
}

header h1 {
    color: white;
    font-weight: 300;
    border: 2px solid tomato;
}

header h1 #logoux {
    font-weight: 600;
    font-style: italic;
}

header a {
    color: white;
    text-decoration: none;
}

h2{
width: 300px;
height: 50px;
border: solid 1px tomato;
padding-top: 20px;
padding-right: 20px;
padding-left: 20px;
padding-bottom: 20px;
text-align: justify;
}
