@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;600&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
font-family: 'Quicksand', sans-serif;
color: gray;
background-color:#EDECED;
}

.container-grid {
    width: 95%;
    margin: 0 auto;
    max-height: 992px;
    max-width: 1200px;
}

header {
    background-color:#676767;
}

header .header-flex{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
}

header nav {
    display: flex;
    width: 200px;
    justify-content:space-between ;
    align-items: center;
}

header h1 {
    color: white;
    font-weight: 300;
    
}

header h1 #logoux {
    font-weight: 600;
    font-style: italic;
}

header a {
    color: white;
    text-decoration: none;
}

h2{
margin-top: 10px;
margin-left: 10px;
margin-right: 10px;
margin-bottom: 10px;
text-align: justify;
}

main .colunas-flex {
display: flex;
justify-content: space-between;
}

main .coluna1{
width: 75%;
background-color: white;
margin-bottom: 20px;
margin-top: 20px;
}

main .coluna1 h2 {
    margin: 20px 20px 20px 20px;
    line-height: 24px;
}

main .coluna1 p {
    margin: 0 20px 20px 20px;
    line-height: 24px;

}

main .coluna1 #img1 {
width: 100%;
}

main .coluna2{
width: 20%;
}

main .coluna2 article {
    background-color: white;
    padding-left: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-right: 20px;
    align-content: space-between;
    margin-bottom: 50px;
    margin-top: 50px;
}

footer {
    background-color:#676767;
    width: 100%;
    height: 50px;
    color: white;
    padding: 20 0px;
}

